( నవ్వులు )
అతను చెప్పాడు , “నువ్వా , ఓహ్ హృదయం విరిచిన వాడా .”
వారి మెదడులో yetఅనే ఉద్రేకముంది
ఎక్కడైతే ప్రజలు తమ భవిష్యత్తును మరియు తమ తలరాతల్ని తామే మార్చుకోవాలని కోరుకుంటున్నారో అదే ఈ ఆప్రికా.
మలేరియాకు వ్యతిరేకంగా పోరాడడం మరియు దానికి నిధులు ఇవ్వడం
చాలా అ౦శాలు ఒకే విధ౦గా ఉన్నాయి.రెండూ కూడా పెద్ద ఎత్తున నల్లజాతి పేద ప్రజలతో ని౦డి ఉండేవి,
ప్రస్తుత చికిత్సా విధానాలతో ఇది పెద్ద తలనొప్పి
అది చాల లోతైనది, అందుకే ఇతర విషయాలను వెతికినట్లుగా మన్౦ దాన్ని వెతకలేము.
మలావిలో వుండే నా నేస్తం రాసింది
నేను ఎలాగైనా అంధులకు ఇంటర్నెట్ అందుబాటులో ఉండే విధంగా సహాయం చేద్దమని అనుకున్నాను,
అన్నిఅధ్యయనాలలోను నా ప్ర శ్న ఒకటే
అలా దీని మీద పరిశోధనలు
ఇక్కడున్న ప్రజలందరూ మరియు పూలతోటలన్నీ పూర్తి అవగాహనతో
ఇ౦దులో మేము మరింత ఎక్కువ సమాచారాన్ని పొందుపర్చాము.
సామాజిక పనితీరు మరియు ఆర్ధిక పనితీరు మధ్య
ఎక్కు కాలం పరిష్కారం కోసం నిమగ్నమయినా
మలేరియా ఆఫ్రికా, పేద ఆఫ్రికా, వివాదాలతో కూడిన ఆఫ్రికా,
ప్రతీ సంస్కృతికి సంబంధించిన ఆత్మ ఆ వాహకం ద్వారా నిరంతరం ప్రవహించి
అందులో నగరంలోని స్థిరాస్థుల వివరాలున్నాయి
మీరు మిమ్మల్ని కూడా గుర్తించలేరు. మీరు దాక్కుంటారు మరియు
విశ్వ వ్యాప్తంగా- చాలా ప్రదేశాలలో- ఎథ్నోసైడ్ ను ఒక ఉత్సవంగా జరుపుకు౦టున్నారు
క్రిస్ ఆండర్సన్:చాలా కాలంగా మీరెందరికో స్ఫూర్తి
మరియు నా ఇంటర్న్శిప్ లో ఉపయోగించినవి  కన్నా ఇంకా అందుబాటులో ఉన్నాయి.
కానీ నన్ను సబ్-సహారా ఆఫ్రికాను విడదీసి చూస్తే, అక్కడ ఆరోగ్యం ఉ౦ది మరియు మరింత మెరుగైన ఆరోగ్య వసతులు అక్కడున్నాయి
Dr.ఆల్జీమెర్స్ అగస్టె మెదడులో విచిత్రమైన ఫలకాలూ,మరియు టాంగిల్స్
ఇప్పుడు మూడు లేదా నాలుగుకు తగ్గిపోయాయి.
మతం అనేదాన్ని నిజంగా అర్ధం చేసుకుంటే
ఇలాంటి టెక్నాలజీలో ఒక భాగ౦గా ఉ౦డవచ్చు.
ఈ రకమైన పెట్టుబడులను కొన్ని కంపెనీలు ఆహ్వానిస్తున్నాయి.
నిజానికి ఇదెలా పని చేస్తుందంటే
క్రమబధ్ధీకరణ , డిజైన్, ఆలోచన చాలా తక్కువ
మొదటగా నీటిలోంచి కలుపు వెలికితీత
మీరు వచ్చే 30 రోజులలో మీ
సీఏ: మీ యొక్క వ్యక్తిగత లక్ష్యం ముందుకు పోవడం గూర్చి,
సంబంధం లేదనుకోవచ్చు.
ఒకసారి ఆచుక్క మాయమయ్యాక  ఇంకా నేను ఆ గాయాన్ని చూడగలిగాక,
TR:వస్తుందని ఆశిద్దాం అయితే ఇది home version అన్నమాట
అంటార్కిటికాలో న్యూఫౌండ్ లాండ్. నాసా తాజా అధ్యయన౦లో కొత్తగా కనుగొనబడిన భూభాగం.
గోఫర్స్ లో ఒకరు నన్ను ఆపి ౧౦ రోజులుగా  నేను కట్టని టాక్స్ కట్టమన్నారు.
అల్జీమర్స్ చాలా వరకు,  జన్యుపరమైన వ్యాధి, కాదు.
ఇంత దూరంలో,
క్రమ౦గా వాతావరణం వెలుపల ఆధారపడింది
ఆమె తన కవితకు పెట్టిన పేరు నా కోరినప్పుడే నా పెళ్లి
అర-టన్ను మిస్సైల్స్ తో దాడులు  జరుగుతున్నాయి, కానీ ఈ సారి
మీరు కావాలనుకుంటే, ఇమేజీల మధ్య హైపర్ లింక్స్ క్రియేట్ చేసుకోవచ్చు.
పరంపరగా ఇది ప్రైవేట్, ధార్మిక సంస్థలచే జరుగుతోంది
పరికరాలు అంతర్జాలంలో అనుసంధానం చేయడానికి దోహదపడుతున్నాము.
ప్రపంచపు ధోరణికి ఉదాహరణగా నిలిచే దేశాన్ని కనిపెట్టడం.
నాకు కోపం వచ్చింది
సాంకేతికతలను అభివృద్ధి  చేయడం ప్రారంభించాను.
క్రాస్ చేయాల్సిన ఈగలను ఖచ్చితంగా గుర్తించడానికి
దానివల్ల ఈ హైవేని తొలగించవచ్చు.
రానున్న కొద్ది సంవత్సరాలలో ఏదో ఒక సమయంలో
పురుగులు పిల్ల ఈగల చుట్టూ పరిగెత్తడాన్ని
మీకు నమ్మక౦ కలగడ౦ లేదు కదూ
ఆ విధంగా మనపిల్లల పట్టుదల పెంచడాని
అవి కార్బన్ ను సేకరించి నిల్వచేయలేవు అంటే దానర్ధం మనం
ప్రజలు ఎప్పుడూ వారి కత్తులను నాగలి పదునుగా మారుస్తారో
మీకు టిబెట్ యొక్క బాధ అర్ధం కాదు
నా భావాలను అణుచుకున్నాను
(చప్పట్లు).
మన జాతి పుట్టి, దాదాపు ఇప్పటికి
దీని అర్ధం మన వద్ద కాంతి నుండి మరియు సౌర ఘటానికి సమాచారం
ఆ చిన్నారుల వేదనను వూహించండి
దాన్నుంచి నేరుస్తున్నారు, సవరిస్తున్నారు
డేటాలో సూక్ష్మమైన మార్పులను
బయటికి వెళ్లి , ఇంకో విమానం కొనేంత డబ్బు నావద్దలేదు
ఈ రహదారి నిర్మాణానికి సౌత్ బ్రా౦క్స్ అడ్డ౦కిగా ఉ౦డేది.
నా పఠనం ఎంత చిన్నది అయ్యిందో,
ఉదాహరణకు,
ప్రభుత్వాలలో
ఈ అధ్యయనం లో ఇంకా పాలు పంచుకుంటూనే ఉన్నారు,
సెక్స్ వ్యాపార కోరలనుంచి బయటపడిన ప్రతిఒక్కరికి అదే మనం చేసేది
కాబట్టి మనం ఇతర సిటీలలోని దార్శనికులు చూపిన కొన్ని అంశాలను నెర్చుకోవచ్చని నాకు గుర్తుకొచ్చింది.
లేదా దాక్కొని ఉండకుండా, ఎలాగైతే నాకు  తెలిసిన కొంతమంది పురుషులు లేదా స్త్రీలు
అమెరికాలో ఒక నల్లజాతీయురాలిగా, నేను శ్వేతజాతీయుల క౦టే రె౦డు రెట్లు
నేపథ్య సంగీతం
ఈ తెగవారి పొడవైన ఇళ్లలోకి తొంగిచూస్తే
దీ౦తో మా సౌత్ బ్రా౦క్స్లో నిర౦తర అభివృద్ధితో బాటు ఉపాధి కల్పన సాధ్యమై౦ది.
ఎందుకంటే అది మానవుల యొక్క జ్ఞానం వల్లనే ఊపిరి పీల్చుకోగలదు.
కాబట్టి మీరు అవినీతిని గురించి విన్నపుడు,
లోకంలోని చెడును సవాలుచేయడానికి మార్చడానికై
మరి౦త- దారుణమైన భవిష్యత్ చిత్రానికి గుర్తు
ఎందుకంటే తర్వాత ఏర్పదబోయే భవిష్యత్తుకు మనంకూడా కారణభూతులం అవుతా౦.
మీరు ఈ ట్రిప్టమైన్స్ ను కూడా వాటి గాటనకట్టకూడదు అని నేను వాదించేవాణ్ణి
కానీ అది నిజం గా జ్ఞానం కలిగించవచ్చు కూడా.
దీనిని A Kp'iye Kp'oma అని పిలుస్తారు
అర్ధరహితంగా అనిపించే విధ౦గా ఉ౦ది.
కాలుష్యం మరియు ఉద్గారాలను తగ్గించడం
అందు కోసమే నేను ఇక్కడికి వచ్చాను
మందును కణాలలో నేరుగా ప్రవేశపెట్టటానికి
ఇంకా అనువాద రచనలు దాదాపుగా లేనే లేవు.
అయిదారుమందిని నేను ఖననం చేయాలనుకుంటే
సమాజానికి వ్యాపారాల వల్ల చేడుచేసిన వారు చాలానే ఉన్నారు.
ఈ పిల్లల కోసం నేను మిమ్మల్ని అడుగుతున్నాను
వీరు ఉత్తర కాంబోడియా లోని సియెరా డీ శాంటా మార్టాకు చెందినవారు
ఇగల భాష మాట్లాడే ప్రదేశాల్లో
ఇది ప్రోటీన్ కణాలను ఒకదానికొకటి అతుక్కునేలా చేసి,ఉండలుగా
సారూప్యం నుంచి Digitalకు
ఆ పాత చెట్లు నరకడం ద్వారా మరింత కాగితం తయారీ
మనం ఏకపక్షంగా నిర్ణయాలు తీసుకునే ఏకధృవ ప్రపంచం లో నివసించాలా
ఆపై నేను పొగమంచును చైతన్య  పరచాలనుకుంటున్నాను,
మాయా మర్మాలు లేవు పరిశ్రమ పరిశ్రమ పరిశ్రమ
"సంస్కృతి మార్చాలనుకుంటే కథలు మార్చండి"" అని"
"ఇప్పుడు, నిరాశావాదులు, ""ఓ ఒక్కనిముషం, ఆగ౦డి అ౦టున్నారు"""
అలా చేసిన౦త మాత్రాన ఈ గ్రహ౦ మీదున్న సమస్య మారదు
నేను చెప్పే కధలు అక్కడ నుంచే వచ్చాయి
అలావారు కొ౦త ము౦దుకు వెళ్ళిపోయారు. 90 దశకంలో, భయంకరమైన హెచ్ ఐవీ ఉపద్రవం వచ్చింది
ఆ వీధులోని పార్కింగ్ లేన్లను తీసివేసి, పాదచారులకు వాక్ వేలను నిర్మించారు.
తీవ్ర౦గా వాది౦చే వాడిని.
మృత్యుముఖంలో వున్నవారి  పట్ల గల దృక్పధాలను గమనిస్తున్నాను
టిబెట్ అసలు రూపాన్నిఅప్పుడే తెలుసుకున్నాను.
మా విషయంలో, లేజర్ ద్వారా (HIV) నిర్మూలన.
దయ యొక్క ఉత్ప్రేరకాలుగా , దయ యొక్క కర్తలుగా ,
మీ సమయం మరియు మీ శక్తిని దేనిమీద ఉంచుతారు?
వారు దుబాసిలుగా వ్యవహరించారు
కొన్ని క్షణాలపాటు మీతో ఒక రహస్యాన్ని పంచుకుంటాను.
భద్రంగా మరియు సురక్షితంగా  డేటాని ప్రసారం చేస్తుంది.
(చప్పట్లు)
మరియు వారు ఒంటరిగా లేని వ్యక్తుల కంటే తక్కువ జీవనం గడుపుతారు.
మరియు మాకు తెలుసు మీరు  ఒక గుంపులో ఒంటరిగా ఉండవచ్చు,
ఇది చైనా దేశం, మంచి ఆరోగ్యం వైపు పోతోంది, మెరుగవుతోంది.
మీరూ నేనే
ఆ ఖండంలోని మహిళల పైన కూడా!
సెల్లులోంచి కొంచమే బయటికి వచ్చిన చిన్ని తేనెటీగ
వారికి మన ఫ్యాక్టరీలలో, కంపెనీలలో ఉద్యోగాలు ఇవ్వటం బాగోదు
గణిత శాస్త్రాన్ని
సులభంగా పదాల్ని కూడ మారువచ్చు.
ఆవిడ జీవితాన్ని ఎలా కాపాడుతాం.
31 రొజున నాకు ఇలాగే అనిపించింది.
వారు హెచ్చరిస్తారు దానివలన మీ ఇంటివిలువ
సరి
మరోలా చెప్పాలంటే
వంతుల సైనికులు – సరే, చనిపోలేదు, నన్ను
ఇంకా ఎలాంటి వాటి మీదఆలోచిస్తారంటే
-- మరీ చెప్పాలంటే మరింత వేగవంతమైన రేటుతో క్షయానికి గురవుతోంది.
ఒ పదిమంది పిల్లల్ని విడుదల చేస్తే మరో  50 మంది చేరుతారు అనే ఆలోచన వచ్చింది
ఇది లాటిన్ అమెరికా. వారిదగ్గర భూమిపై ఉన్న అన్ని వనరులు ఉన్నాయి.
మౌలికంగా ఇది థెరపిస్ట్ ల కార్యకలాపాలకు కొనసాగింపుమాత్రమే
మానసికంగా సంతోషంగా ఉన్నారని చెప్పారు.
(నవ్వులు)
వేరే చాలా దేశాలలో కొంచెం ఎక్కువగానే ఉంది.
ఒకవేళ మనమందరం ఒకే భాష మాట్లాడితే? అద్భుత౦గా ఉ౦టు౦ది కదూ,
మరో గంట గడిచింది
హర్షధ్వానాలు
మేము ఆమెను హాస్పిటల్ కి తీసుకుని వెళితే
మెడలో వేసుకున్న కెమెరా ఆ నాలుగు వ్రేలను అనుసరిస్తూ
కాని అప్పటినుండి నా మనసులో మెదులుతున్న విషయం ఒక్కటే , ఇప్పుడు నాకు 40 సంవత్సరాలు
భయం, అణిచివేత గుర్తుకువస్తాయి
ఈ పైపులైన్లు మా చిన్న చిన్న మిత్రులకు ఆవాసాలుగా మారుతాయి!
"తిరిగి వచ్చినప్పుడు, వారు  ""ఓహ్! అతను తిరిగి వచ్చాడు"","
అది ప్రాధమిక హక్కుగా మారుతుంది పిల్లలకు , పిల్లందరికీ
నేను ఉత్సాహం గా అంగీకరించాను.
తన శరీరం ఉన్న తీరు చుస్తే
పుస్తక పరిశ్రమ మరియు రెడియో
నేను మిమ్మల్ని పరీక్షించబోవట్లేదు, కానీ ఈ జవాబుల్లో అత్యధిక మరణాల రేటు టర్కీలో ఉ౦ది,
ఇక్కడ మరికొన్ని అవకాశాలుకూడా ఉన్నాయని గుర్తిస్తా౦.
కాబట్టి నేను ప్రపంచాన్ని ఎట్లా చదవబోతున్నాను?
యునైటెడ్ స్టేట్స్ సెనేట్ తో పోరాడాము,
నేను ఇలా ఉదాహరణలు చెప్తూ పోగలను:
వారి జీవితాలలో ఆశలకు కొత్త జీవాలు నింపుకుంటున్నారు
కాని దీంట్లో ఆట రీతికీ  ప్రశంసలు లభిస్తాయి
ఆ వచ్చే సెమాంటిక్ ఇంటర్ కనెక్షన్
మా నల్లజాతి యువతను, లాటిన్ అమెరికన్ల భవిష్యత్తును అ౦ధకార౦ చేస్తున్నాయి,
ఇంకా ఆరు వారాల లోపల, నా దగ్గర మొత్తం  పుస్తకం చదవడానికి తయారు గా ఉంది.
ఇప్పుడు మొదట ఏమి చేద్దామని అనుకున్నది లైట్ స్విచ్ ఆన్ చేయడం.
చిన్నారి తల్లులుగా
మాకు అనిపించింది , వీరందరిలో ఒక గుణం ఉంది
ఈ ఫోటోలను చూస్తూనే మనం ఎలా అనుకుంటే అలా వాటి ఆకారాన్ని మార్చవచ్చు.
వున్న ఆ కొద్ది కూడా జలాన్ని  కలుషితం చేయవద్దనే
నా ఉద్దేశ్యం ప్రకారం మనము ఏమి కనుగొన్నాము అంటే,
"అవి అవమానాలు, తిరస్కరణ,  ఒత్తిడి, విమర్శకులు కావొచ్చు"""
మరియు టాంటన్ మకౌట్స్ లోకి ప్రవేశి౦చి
దానికి మరో ప్రముఖమైన సూచిక, భాషలు ఉనికిని కోల్పోవడం.
వాస్తవంలో, ఎవరైనా వచ్చారు, అతను వెళ్ళాడు లేదా షూట్ చేయలేదు, ఏది ఏమైనా,
నేను మీకో కథ చెప్తాను
సెల్లులలోపల పెరిగే దశలో
వాటిని పరిచి క్రొత్త ప్రదేశాలకు తెసుకొని వెళ్ళవచ్చు, వాటిని తొలగించవచ్చు
లేదా , సర్ రిచర్డ్ బర్టన్ వలె
A గ్రేడ్ కోసం తపించిపోయేలా పిల్లల్ని పెంచుతున్నామా?
ప్రజలుకూడా ఒకరికొకరు చాలా దగ్గరి పోలికలతో ఉంటారు.
ఈ రక్తసిక్తమైన ఖండంలో,
దీనికి ప్రత్యామ్నాయ మార్గం ఉండే తీరుతుందని ఆలోచించాను
లాగోస్ లోని ఈకొరొదుకు చెందిన  నది పరివాహక సంఘం
దీంతో బాలకార్మికుల సంఖ్య పడిపోయింది
ఈ పిల్లలతో నా ప్రయాణం ఎప్పుడు మొదలయింది అంటే
దానితో మార్గం సుగమమవుతుంది
వాళ్లు ఇక్కణ్నుంచి వచ్చారు, ఒక ఖనిజాల దేశం. వాళ్లు ఆయిల్ మొత్తం వెలికితీశారు,
ఇరాక్కు వెళ్లిన మూడు వంతుల
ఈవీ: బాదం తో డార్క్ చాక్లెట్.
ఒక నదీమూలం, ఒక భావన, ఆధ్యాత్మిక అవకాశాల యొక్క పర్యావరణం
HIV వ్యాధికి విరుగుడు
అది నైతికంగా కూడా ముఖ్యమైనది
ఇంటర్ నెట్ వినియోగదారుల సంఖ్య ఇలా పోతోంది. ఇది తలసరి జీడీపీ.
థెరపిస్ట్ నాకు తగినవని సూచించిన అభ్యాసాలనే
ఎప్పుడైతే మనం ఆ నమ్మకానికి
నివారించడానికి మార్గం కనుగొన్నారు
ఒకటి,రెండు,మూడు,నాలగు, ఒక్కక్కరికీ ఎనిమిది మ౦ది వరకూ పిల్లలున్నారు.
ఎందుకు అన్నాను నేను
కోపాన్ని దారి మళ్ళించడంద్వారా సాధించగలం
అధ్యక్షుడు ఒబసాంజో మద్దతుతో
అతను ఆ క్యాంప్ కొస్తాడు.
అసలు నేను స్టేజ్ మీదకు రావటానికి కొంచెము
"""ఏ విషయము ఎటువంటి గాట్లు  లేకుండా నిన్ను చంపుతుంది?"
కానీ 2005 లో కనుమరుగైన పరిమాణం
ప్రజలు రోడ్లమీద ఉమ్మివేయడం మానివేశారు. నేరాలు తగ్గాయి.
మరియు మూడు లేదా నాలుగు ఇతర క౦పెనీలు వచ్చాయి.
స్పానిష్- భాష లోని నవలలు ఇంగ్లిష్ లోకి అనువాదమయ్యాయా
వారు తమ నాయకుల అవినీతిని ఇంక ఏమాత్రం సహించే పరిస్థితిలో లేరనే విషయాన్ని తెల్పుతుంది.
"""మీరు త్వరగా వెళ్ళాలనుకుంటే, వంటరిగా వెళ్లండి;"
"ప్రజలు వెంటనే అడుగుతారు,""ఏమిటా పరిష్కారం?""అది ఇదే."
మనం మన పిల్లల్నెలా పెంచుతున్నాం?
కానీ ఆ ఆశ పెరిగి అల్జీమర్స్ ని చివరకు ఓడించడానికి మాకు సహాయం అవసరం.
ఆ ప్రేరణతో దానిరకి ఒక కార్యరూపాన్ని ఇవ్వాలనుకున్నానము
28 ఎకరాల ప్రదేశ౦లో పార్క్ లాండ్, తక్కువ ఖర్చుతో ఇళ్ళు నిర్మి౦చి
వీటన్నిటినీ స్పేషియల్ గా ఈ విధంగా చేశాము.
Europe, USలలో 10 కంటే ఎక్కువ  క్లినిక్ లలో వాడబడుతోంది.
మీకు తెలుసా, నేను మైక్రోసాఫ్ట్ లో పనిచేయగలుగుతానని ఎప్పుడూ అనుకోలేదు.
సంపద చేకూరుతుంది
బాలికల వివాహ చట్టం ఫిబ్రవరిలో  ప్రవేశ పెట్టినప్పుడు
నా ఫ్యాషన్ డిసైన్ కళాశాలలో,  నా సీనియర్ కలెక్షన్ కు
లెదా అదే స్థానంలో మోంటానాలోని ఒక చిన్న పిల్లాణ్ని తీసుకుంటే
అంతర్జాతీయ ద్రవ్యనిధి కాదు. ప్రపంచబ్యాంకూ కాదు,
తమసామర్థ్యాలను మెరుగుపరచుకోవచ్చని  వారికి అర్థం అయ్యింది
మనకు కావాల్సినదేమంటే పూర్తిస్థాయిలో అవగాహన.
1964:అమెరికా చిన్న కుటుంబాలు ధీర్ఘాయువు కలిగి ఉంది;
"వేడిమిని పీల్చుకొని, అర్బన్""హీట్ ఐలాండ్"" ఎఫెక్ట్ వల్ల సూర్యుని వేడితో వాడిపోయి చల్లగాలి వదులుతాయి"
ఆ డబ్బు ఇక్కడ నుంచి
ప్రధానమైనవి బరువుకలిగి ఉండటం వలన, తక్కువ ప్రాధాన్యత కలిగినవి వాటిని నెట్టలేవు
మీరు ఎప్పుడూ విననటువంటి ఆఫ్రికా మరొకటుంది.
ఎక్కడ ఉన్నా
నన్ను ఇప్పుడు అసలు విషయ చెప్పనివ్వండి. నేను అభివృద్ధి వ్యతిరేకురాల్ని కాదు.
బెల్టులో షిట్ నైఫ్ దోపుకొని మంచు కొండలలోకి మాయమయ్యాడు.
కానీ, నల్ల జాతి యువతిగా ఉండడంవల్ల, మీ అందరిలో చాలామంది కంటే నేను ఎన్నో విధాలుగా భిన్నమైన వ్యక్తిని .
ఒక నాయకుని మద్దతుతో
సౌర కణాల వలన ఇది  విరుధ్ధంగా జరుగుతోంది.
ఓర్వీలియన్ లేబుల్ వారు స్పాన్సర్ చేసినవే.
గమనించడం ఇంకా ఆసక్తికరం, కానీ నేను పబ్లిక్ ఫండెడ్ డాటాతో మీరు
టాంజానియాకు మీరు వెళ్తే జాగ్రత్తగా వినండి,
క్రిస్ ఆండర్సన్: జిల్ సోబ్యుల
ఈ సంఘాల్లోని నది యొక్క నీరు
పరిసరాల మెరుగుదలతో ట్రాఫిక్ సేఫ్టీపై పబ్లిక్ పాలసీ తయారీ సులభమై౦ది
నా చిన్న చెల్లెలు గర్భవతిగా మిగిలింది
ఒక క్షణం,
"""మీరెంత నిఖ్ఖచ్చిగా ఉన్నారు?"" అనే వారి ప్రశ్నకు వారు ""99శాతం"" అనే సమాధానమాశించారు."
ఇది మన౦దరి ఉనికికి గుర్తు
EV: చేరుకున్నావు
వారిని పాతకాలపు వాళ్లలా మరియు రంగురంగుల వారిగా చూస్తాం
నా ఇష్టం వచ్చినప్పుడే పెళ్లి చేసుకుంటాను
పైపెచ్చు, కొన్ని నెలల తర్వాత  బ్యాటరీలు మార్చాలి.
కధని మార్చాము!
వారు హార్వర్డ్ కాలేజ్ లో  రెండవ సంవత్సరం లో ఉన్నప్పుడు.
లేదా నాలా౦టి తీవ్రమైన వేదనల పరిస్థితిలో జన్మించిన గ్రాస్ రూట్ యాక్టివిస్ట్ నుంచి నేర్చుకుందామా?
ఒక కధలో, ఒక ప్రపంచ దృష్టికోణాన్ని, ఒక  పుస్తకాన్ని పంచుకోవటం ఇప్పుడు సులభము.
అప్పుడు నాకు పదిహేనేళ్లు
ఒక సృష్టికర్త తో
మీ సమాజ౦ గురి౦చి చెడుగా చెప్తూ ఉంటే అది మీపై ఎలాంటి ప్రభావం చూపుతుంది?
అన్ని ప్రాంతాలలో ఈ నిర౦తర సమీకృత అభివృద్ధి కోసం మీ పలుకుబడిని ఉపయోగించండి.
నివసిస్తోందా అన్నవిషయంలో అన్వేషించడానికి  చాలా ముఖ్యమైనది.
అంతే త్వరగా నా కంప్యూటర్ పై  ఒక స్కర్ట్ యోచించి,
నేను అతని లేదా ఆమె చూసే కళ్ళ నవుతా,
నిజంగా అన్నిట్లోకి భయంకరమైనదే, డార్ఫర్
అది వుండాల్సిన విధంగా వుందా అని చూస్తారు
అది అంతా మంచిది మరియు హితమైనది
నేను ఎక్సోప్లానెట్స్ లో ఉండదగిన  వాతావరణం నమూనా తయారు చేస్తాను.
మీ జీవితములోనుంచి మానుకోవచ్చు.
నరమేథాన్ని ప్రపంచవ్యాప్తంగా అ౦దరూ ఖండిస్తున్నారు, కానీ
గ్లోబల్ ఎకానమీలోకి వస్తున్నారో, అదే సమయంలో తమ తోటి
వాళ్ళు ఫాక్టరీ కార్మికులుగా ఇంకా లాయర్స్  ఇంకా గోడలు కట్టే వారిగా ఇంకా వైద్యులుగా,
website ద్వారా సహకారాన్ని అందించే సంస్థలు కొన్ని ఉన్నాయి
ప్రపంచంలోని బీట్రిస్ మరియు ఆడెనిక్ ల గూర్చి ఆలోచించండి,
వాటి ధరలు ఎక్కు వున్నట్టు అన్పిస్తాయి
అస్వస్థులు కావచ్చు
ప్రేమతో శ్రమిస్తే సంపద వెన్నంటుతుంది
నా ఉద్దేశ్యం అదొక్కటే కాదు దూరదృష్టితో
వారికి నిజంగా అవసరం అనే నమ్మకం ఉండేది.
మనం తిరిగి వెనక్కి వెళ్దాం. ఇప్పుడు మనం వాటిపైన ట్రయల్స్ వేద్దా౦, ఇలా,
ఆవిడ ముఖం దయగానే ఉన్నట్లుంది. నేను దాని గురించి అంతగా ఆలోచించలేదు
ఒక ముఖ్యమైన తేడా ఏమిటంటే దీన్ని సులభంగా ఎక్కడికైనా తీసుకెళ్ళచ్చు.
ఇ౦దులో ఒక్కో రక౦ యుద్ధానికి ఒక్కో విధమైన వనరుల కేటాయింపు
ఆ బిల్లు రాష్ట్ర పతిచే సంతకం చేయబడినప్పుడు
మనం అదే దారిలో ఉన్నాం
ఇది జైన్ వ్యయవసాయపు ఉదాహరణ
8 గంటలయ్యింది. మేం ఎదురుచూస్తున్నాం
మీ అండదండలు కోసం డిమాండ్ చేస్తున్నాను
డైసీస్ మరియు డాగ్వుడ్స్ అన్ని వికసించి వున్నాయి.
మరియు రూమి యొక్క కథలు ఆద్యాత్మిక మార్గమునకు ఉపమానాలు
ఆధునిక, అనిశ్చిత గణిత శాస్త్రంకు
సంభావ్యత మరియు సంఖ్య శాస్త్రాలు
తిరిగి వచ్చాను
వారి వారి ఉద్యోగ కాలాన్నంతా దీనికై  అంకితంచేస్తారు
ఒక క్రాస్ యూజర్ అలాంటి సాంఘిక అనుభవాన్ని పొందుతాడు.
నిజానికి ఇది జరిగటం మొదటిసారి  కాదు ఎందుకంటే చరిత్ర
Gbe'borunలో పుకారు నుండి
అవి గట్టి ప్లాస్టిక్ తో తయారు చేయబడ్డాయి, అందువల్ల అవి విరగవచ్చు
మనం ఉండటానికి ,బ్రతికి ఉండటానికి
చేకూరినప్పుడు సృష్టిస్తాయి
పేర్కొనబడింది. ఇక్కడ లోపించిందేమంటే తక్షణ స్పందన.
ఆ పిల్లలమొహాల్లో నేను దేవుని దర్శించాను
ఈ కథ ఆఫ్రికా ప్రజలు యొక్క వాస్తవ పరిస్థితికి అద్ద౦ పడుతు౦ది.
సంపద వాస్తవానికి వ్యాపారం వల్ల చేకూరుతుంది
నేను 30 రొజులకు చక్కెర తీసుకోవడం మానేసినప్పుడు,
చాల సంవత్సరముల శిక్షణ, క్రమశిక్షణ, శోధన తో కూడుకున్న శ్రమ తరువాత ,
మరియు అదే నిజము
నేను ప్రామాణిక ఆఫ్-ది-షెల్ఫ్ LED దీపం నుంచి
మరియు నేను కేవలం లైట్ స్విచ్ ఆన్ చేస్తాను,
మనం దీన్ని ఇంకోలా విన్నాం. మరి వీళ్లెవరు?
నేను మీతో పంచుకోవాలనుకుంటున్నాను.
బాగా డబ్బులను సమకూర్చుకోవాలనిపిస్తుంది
మనకిప్పుడు అందర్నీ భాగస్వాముల్ని చేసే అవకాశం వచ్చింది
అది తేలికగా వచ్చే డబ్బుగా కనిపిస్తుంది
ఆలోచనలు!
అవును, మనము చస్తాము, బ్రతుకుతాము
ధన్యవాదాలు
వాటిని సంస్కరించి పటిష్టపరచి 89 బ్యాంకుల్ని 25 బ్యాంకులుగా చేశాం
ఈవీ: మీరు నిన్నటి నుండి 5 పౌండ్ల పెరిగారు ఆపిల్ బదులుగా చాక్లెట్ తీసుకోండి.
వ్యాపారం పర్యావరణాన్ని ఎంత కలుషితం చేస్తే,
30 రోజుల సవాళ్ళు చేసేకొద్ది నా స్వీయ విశ్వాసం పెరిగేది,
ఒక అద్యనంలో మేం వారికి నేర్పాం
అదే దయామయుడు మరియు ప్రేమ జీవుల లక్షణం
గోధుమ, పొగాకు
కోపంతో వున్న ఆ రాత్రి నన్ను ఇంట్లోంచి బయటికి పంపాలనుకున్నారు
చదువుకోవచ్చు, సాక్ష్యం అక్కడే ఉంది,
దాన్ని కొంత సమయానికి పదునైన కత్తి ఆకార౦లోకి తయారు చేశాడు.
అక్కడ మీరు రకరకాల
రింగ్ టోన్ కి ౩౦ సెకండ్ల చొప్పున
కానీ అక్కడి ప్రజలు అభివృధ్ధి విషయ౦లో తమకే పెధ్ద పీట వేస్తున్న విషయాన్ని గమని౦చారు.
అది మనకు ఎక్కువ కావాలి
నేడు,మనం అదే ఉత్సాహాన్ని క్యాన్సర్ ని ఓడించడంలో కూడా చూడవచ్చు.
పిల్లల్ని శ్రమించేలా , లాఘవం చూపేలా తయారుచేస్తుంది
వందలాది మిలియన్ల ఆసియన్లు దారిద్ర్యంనుంచి బయట పడుతున్నారు, కానీ అదే సమయ౦లో కొంతమంది
(చప్పట్లు)
అందుకే మనం దాదాపు ప్రపంచం యొక్క ప్రధాన రూపాన్ని చూడగలుగుతున్నాము,
కానీ కొత్త ప్రధానమంత్రి ప్రకటన బట్టి
కొన్ని కీబోర్డులు కూడా  వైకల్యాలున్న మనుషులకు
పైగా దీన్ని వెల ఇప్పుడు
తిరిగి దక్కించుకోవచ్చు. మరియు అది ముఖ్యం. నిశ్శబ్దం మనల్ని చంపేస్తుంది.
వ్యక్తిగత డాటాను ప్రాంతీయ జీడీపీగా మార్చి,
పెరిగారు
మీకు నేను, గెలుపుకు నిజమైన చిట్కా ఏమిటో చెప్తాను
పురుగుల బారినుంచి తట్టుకునే తేనెటీగలను విడిగా పెంచారు
వై-ఫై ప్రమేయం లేదు, ఇది కేవలం కాంతి.
మరణానంతర క్రియలకోసం కేటాయించినట్టివి
ఎనీ వే, ఇప్పటికే క్రిస్ మాకు చెప్పాడు ఇక్కడ అల్లరి ప్రవర్తన వద్దని,
కేవలం పేదరికమేకాదు
మీద పడి ఉండడం లేదా ఎవరైనా  కారు గుద్ది దెబ్బ తగిలి ఉండడం
దానికి అనేక ఇతర అంశాలు తోడ్పడ్డాయి,
లేదా మా ఇంటిని విస్తరించాలంటే
చప్పట్లు
ఒక పాకేజ్ ఒక పుస్తకం కాదు,  రెండు పుస్తకాలు కలిగి వచ్చింది--
పరిశోధకులు దీనికి ప్రత్యామ్నాయాలను  అన్వేషిస్తున్నారు
బలమైన ఇంకా అనువైనది.
దగ్గరలో ఉన్నఒక లేజర్ స్టేషన్ నుంచో
వీరిలో ఏ అభ్యర్థి మిలిటరీ  శిక్షణలో కొనసాగుతారు
మాలో ఆస్తమా వల్ల ఆసుపత్రిలో చేరేవారి రేటు దేశ సగటు కంటే ఏడు రెట్లు ఎక్కువ.
ఈ రాజకీయవేత్తలు ఏమీ సాధించలేరని తెలియజేస్తున్నా౦.
మరియు మేము 250 మందికి శిక్షణనిచ్చి
వాళ్ళ బ్లాగ్స్ , వెబ్ పేజీలు.
ఇరుగుపొరుగు దీన్ని ఇష్టపడక పోవచ్చునని వారు హెచ్చరిస్తారు
వాళ్ళను వైద్య పరీక్షలు చేశారు.
వారిని మనవారిగా అంగీకరించుదాం
వేరే దేశాలలో పైరసీ వలన అమెరికాకు కలిగే నష్టంను మన విస్లేశిద్దము.
దేశాలయొక్క సగటు గణాంకాలను పరిశీలించినప్పుడు, అవి ఇలా కనిపిస్తున్నాయి.
తెలివి తక్కువ అనుకున్నవారిలో తేడా  వారి IQ లో మాత్రమే కాదు
అలస్కాలో ఇది ఒక ప్రముఖ గ్రామం. ఇది ఒక పట్టణం
అనుమానం గా కనిపిస్తోంది. మనం సహాయం గురి౦చి ఆలోచిస్తే,
ఇది బైబిల్ పదజాలం లో కూడా వర్ణించారు
మనము ఈసయ్య యొక్క దైవత్వమును తీసుకు రావచ్చు
మనం మాట్లాడుకోవాలి. మనం ప్రజాస్వామ్యం యొక్క సమస్యలు పరిష్కరించాలి- ఇది -
ఒకరు యునైటెడ్ స్టేట్స్ కి ప్రెసిడెంట్ గా అయ్యారు
అయినప్పటీకీ, అనువాద  పుస్తకాల ప్రచురణ నిష్పత్తి
ఫోటోగ్రాఫర్ గా నేను ఈ సమస్య నిజస్వరూపాన్ని బయట పెట్టాలనుకున్నాను
ఉపయోగించి దీన్ని తయారుచేసాము.
మీరు నన్ను కొట్టినా సరే
చైనీయులు అడ్డుచెప్పారు, దానితో ఉభయతారకంగా
ఒక పద్యాన్ని వినిపించడంతో
ఇంతకుముందు దశాబ్దంలో పన్నెండు వైరుధ్యాలుంటే,
కేడర్లు 1.2 మిలియన్ల మంది టిబెటన్లను చ౦పివేశారు.
ఇదే ఇతరులు నమ్మిన సంప్రదాయాల నుంచి నేను చదివి నేర్చుకున్నాను
మరియు అతను లేదా ఆమె నడిచే పాదమునవుతా,
కానీ వారు ఏదో కనుగొన్నారు. కాబట్టి  దీని అర్ధం, మనము
ఇప్పటికి ఇంకా సెలవు
అలాగే H1N1 గురించి కూడా
రూపుదాల్చడానికి కష్టపడుతున్న
ఇది ఒక ఇ-పుస్తకాన్ని చదివేందుకు అనువైన కృత్రిమ మార్గం కావచ్చు.
ఉత్పత్తులగా తయారుచేసాము
మట్టి మరియు పచ్చని మొక్కలను గ్రీన్ రూఫ్ గా ఉపయోగిస్తున్నాము.
మనకుకావాల్సింది ,ఎక్కడి బాలికలకైనా  అవసరమయ్యేదే
అంతర్జాలంలో ఒక భారీ పొడిగింపు ఉంటుంది
ఈ మెళుకువలతో, నదీ పరివాహక ప్రాంత
అయిన్నపటికి వీటిలో కూడా మన క్రొత్త అనుభూతిని పొందవచ్చు
కెమెరాలన్ని కలసి ఇలా తయారయ్యాయి.
సంతరించుకుంటున్నాయి
కూల్ రూఫులు బాగా రిఫ్లెక్టయ్యే పదార్ధాలతో చేయబడి సోలార్ హీట్ ను పీల్చుకోవు
గత ౩౦ సంవత్సరుమల నుండి ఇదే పరిస్థితి
ఫలితము దక్కుతుంది.
నేను నా సమాజానికి ఏదో ఒకటి, ఒక చిరుకానుకగా సాధిస్తాను
లి-ఫై డేటా ఆఫ్-ది-షెల్ఫ్ LED లను  ఉపయోగించుకొని చాలా వేగంగా,
ఎలాగంటే 50 సం' తర్వాత సమాధులను  మళ్లీ వాడుకోవచ్చునని
వాళ్ళు ఈ అధ్యయనం లోకి ప్రవేశించినప్పుడు,
కష్టతరమైన విషయం ఏమిటంటే  నా స్వతంత్రత కోల్పోవడం.
ప్రజల పేద జీవితాల్లో
మాకు తను ఒక రైల్వే ట్రాక్ మీద దొరికింది
కాబట్టి మనము సౌర ఘటం  నుండి శక్తిని అందుకుంటాము.
నేను చాలాయేళ్ళుగా సామాజిక సమస్యల
ఈ భూమ్మీద సుమారుగా ప్రతీ పక్షం రోజులకూ ఒకసారి,
నా స్నేహితులలో ఐదుగురు, గాయాన్ని  తట్టుకోలేక ఆత్మహత్య చేసుకున్నారు.
ఇంకా ముగ్గురు పిల్లలతల్లి
ఆ పదార్ధాన్ని విభిన్న జాతికి చెందిన వాటి ద్వారా తయారుచేస్తారు
ఇంకా పేజీలు తిరుగుతున్న కొద్దీ,
ఆ గొప్ప దేవదూత మరియు ప్రవక్త ఆద్యాత్మిక మార్గమును నేర్పించడానికి వచ్చినాడు.
మనము తప్పక మన అహంను తగ్గించు కోవాలి ,
చూడాలనుకున్నా ఇప్పుడు ఈ ముఖాలు ఇంక చూడలేరు
డిజిటల్ పుస్తకాల కన్నా  ముందు డిజిటల్ అయ్యింది.
కాబట్టి మీరు చూడండి, కేవలం ఆధునిక
మన జీవితాలను రక్షిస్తు౦దో తెలుసుకు౦టారు. కానీ, మనం టెడ్ లో లేనప్పుడు
అప్పుడే నేను కమ్యూనికేట్ చేయాల్సిన అవసరం ఎంతో ఉందని తెలుసుకోగలిగాను,
ఎందుకంటే భగవంతుడే చెప్పినటుగా దయ తన ప్రధమ అలంకారమని
పేరు ప్రఖ్యాతులు గడించటం అని చెప్పారు.
చనిపోవడం చూశాను, కాబట్టి నేను  చనిపోయాను. మరియు
నా లక్ష్యం ప్రయాణం చేయటం మరియు మీకు  సాధారణం అనిపించే పనులను చెయ్యగలగటం.
మానవుడిగా అనిపించుకోవడానికి ప్రధమ లక్షణములు
కానీ మనం ప్రతిరోజూ వినడం లేదా ఆ బాలికల , స్త్రీల రోదనలను
నేను ఈ రోజు మొదలుపెడుతున్నాను
అసలు మనకిన్ని సామజిక సమస్యలు ఎందుకు ఉన్నట్టు?
ఇప్పుడు 6.5 శాతానికి పెరిగింది.
1901 నుండి, వైద్యశాస్త్రం ఎంతగానో  పురోగతి సాధించింది.
ప్రణాళికా దృక్పధంతో చూస్తే, ఆర్ధిక తిరోగమనం
వాళ్ళు ప్రతిరోజూ ఎదుర్కొంటున్న సమస్యలను
(సంగీతం సమాప్తం)
ఆఫ్రికాలో జరుగుతున్న మార్పు కథతో
అది 855 డిగ్రీలు. ఇది మన ప్రస్తుత వ్యూహానికి చాలా కీలకం
వాళ్ళు తక్కువ సంతోషంగా  ఉన్నారని తెలుసుకుంటారు,
ఇవాళ ప్రపంచం ఎన్నో సమస్యలతో
అతన్ని అనుసరిస్తాం.
లాభదాయకం అని
కానీ ప్రజలిక్కడున్నారు, ఇంటర్ నెట్ ఉంది, కానీ మన౦ వాటిని సమర్ధవంతంగా ఉపయోగించుకోలేకపోతున్నాం.
అందుకని మీరు మీ ప్రవర్తనలో మార్పులు చేసుకోవలిసిన
ప్రయత్నం చేస్తోంది.
ధన్యవాదములు.
అరుదుగా అవకాశాన్ని పొందుతుంది.
కాపీరైట్ గణితం మనకు ఏమి చెప్తుంది అంటే
వారియొక్క స్వంత ఫోటోలు మెటా-డాటాతో టాగ్ చేయబడతాయి
మా అధ్యయనం లో సభ్యులుగా చేరతారా అని అడిగాము,
రోజుకి ఒక నవల, చిన్న కధల  సేకరణ లేదా ప్రపంచంలోని
""" ధీర్ఘాయువు మరియు చిన్న కుటుంబాలు, మరియు మూడో దేశాలంటే అల్పాయువు, పెద్ద కుటుంబాలు."""
1957 లో ఐదు మిషనరీలు వీరిని కలిసేందుకు ప్రయత్నించాయి
నేను ఒక కంప్యూటర్ శాస్త్రవేత్తా అని
పైరసీకి గురి అయినప్పుడు
నా కుడి చెవితో ఏమి వినలేను
ఈ పని చేసేవారు వారి ఇష్టపూర్వకంగానే ఈ పని చేస్తున్నారని ఆలోచిస్తాం
ఇది దేనితో తయారయ్యింది , దీని వెల ఎంత?
మరియు ఇక్కడ ఒక శుభవార్త దీనికి చికిత్స చేయగలం --
నదీ ప్రవాహాలను ఎలా ఉధృతంగా మారుస్తుందో
ఇంతకి , కొరాన్ ఏమి చెప్పిందంటే , “భగవంతుడు తనపైన దయను అజ్ఞాపించాడు ”
బట్టలు ప్రింట్ చేయడానికి సరైన ఫిలమెంట్ వెతకడం కటినంగా మారింది.
టిబెట్ ప్రజల బాధ భరింప శక్యం కానిది,
చూపించిన విషయాలని కూడా చూశాను
అందుకే కొద్దిగా కష్టమైన పనే
పరిక్షలు పెట్టి. అసైన్మెంట్లు ఇచ్చాను
దాదాపు 70వ దశక౦లోకి? అప్పుడు ఈ మోపురం చాలా పెద్దగా ఉంది.
సరే. ధన్యవాదాలు.
మనకున్న ప్రాధమిక సమస్య ఏమిటంటే ?
దాని ప్రయోజనాలు పెరుగుతాయి.
సమస్యలకు కారుణాభూతంగా చూస్తున్నారు
ఇది పిల్లలకు గొప్పఆత్మ విశ్వాసాన్నిస్తుంది
మన ముందున్న కర్తవ్యము కుడా అదే.
ఈరోజు జీవించి ఉన్న తర౦ వాళ్లు, వారికి కావాల్సింది జెనరేషనల్ మిషన్ కు సంబంధించిన స్పృహ కలిగి ఉ౦డాలి.
ఇప్పుడు మీరు చూస్తున్నది ఒక లైవ్వెబ్ , కావాల౦టే చెక్ చేసుకో౦డి.
ఒక దేశవ్యాప్త ప్రచారాన్ని చేపట్టబోతోంది -
సమస్యల్ని పరిష్కరించేందుకు ఇంక ధనం
నేను చ్యాలా ఆశ్చర్య పోయాను.
మరియు మేము డిజిటల్ విభజన తగ్గించడానికి  దోహదం చేయగలమని ఆశిస్తున్నాము,
లేదా ఇతర మోడల్స్, లేదా ఇంకా సాంకేతికాంశాలు.
మనకు బోధించినట్టుగా మనమంతా దైవ స్వరూపం లో రూపకల్పన చేయబడినాము
ఇక్కడున్న బబుల్ పగిలిపోతే, ఆ చిన్న బబుల్స్ ఆ దేశం యొక్క ఆదేశ జనాభాను సూచిస్తాయి.
నన్ను తీసుకువచ్చిన అనాధ కుక్క లాగే, ఈ వీధిని రక్షించాల్సిన అవసరము౦ది.
మొదటి ఆట లో నేనొక తుమ్మెదను  పైకి, కిందికి ఎగిరేలా చేయాలి
ayearofreadingtheworld.com
కూడిన బలమైన నిర్ణయం
కానీ , నా ఆసక్తి దీనికి విరుధ్ధంగా వుంది
అస్పృశ్యులు వండిన భోజనం తిన్నావు
ఎందుకంటే మార్పులు గుర్తించ తగ్గ  వేగం కన్నాఎక్కువ ఉండడం.
ఈ కాపీరైట్ గణిత శాస్త్రజ్ఞులకు ఒక ముఖ్యమైన సంఖ్య
ట్రిపుల్ బాటమ్ లైన్ రిటర్న్ తో ఉండే పెట్టుబడులకు సహకరించండి.
కాకపోతే మనం లాయర్ల గురించి ఇంకా ఇతరత్ర మాత్రం వర్రీ అవ్వాలి.
సగటు నుండి రెండు ప్రామాణిక వ్యత్యాసాలకు అర్ధం
కానీ ఇలాంటి శ్రోతల ముందు మాట్లాడడం నాకిదే తొలిసారి.
వాళ్ళు కమ్యూనిస్ట్ విధానాన్ని వీడి, మార్కెట్ ఎకానమీకి మరలిపోయారు,
ఒక రకమైన పూనకం వంటి స్థితికి చేరతారు
నేను ఒక ఆందోళనకరమైన విషయం కనిపెట్టాను.
ఉంచుకోవాలి అదేమిటంటే డేటాను,LED కాంతియొక్క సూక్ష్మమైన మార్పులుగా క్రోడీకరించాము,
దేశాల్లోని ప్రా౦తాల మధ్య చాలా తారతమ్యాలు ఉన్నాయి.అందుకే మీరు అక్కడికి వెళ్లి చూసినట్లయితే, మీకు
అనుభూతి చెందగాలుగుతున్నాను.
మేము బాలికలకై పోరాడాలని నిశ్చయించుకున్నాం కేవలం మా సంఘంలోనేకాదు
ఈ భూమి మీద దయ ఇవ్వబడింది , మనలో వుంది
(చప్పట్లు)
ప్రాథమిక చికిత్సకోసం ఎమర్జెన్సీ రూములు దర్శించాల్సి వస్తుంది.
చర్చలు మనకు అవసరమైన ప్రారంభాన్నివ్వడానికి
తర్వాత నేనో కొత్తపేరుని పెట్టుకున్నాను 'సత్యార్థి' అని
